extends layout

block content
  h1= title

  p
    form(method='post', action='/homepage')
      label Enter Username:
      input(name='username', value='')
      br
      label Enter Password:
      input(type = 'password', name='password', value='')
      br
      label Confirm Password:
      input(type = 'password', name='passwordconfirm', value='')
      br
      input(type='submit', value='Create Account')