extends layout

block content
  h1= title

  p
    | Welcome to your homepage!
    br
    form#search(method="post" action="/searchresults")
        label(for="search") Enter your search query:
        input#search(name="query")
        button#search Search
        br
  p
    | What would you like to do today?
    br
    br
    button#view View My Files
    br
    button#update Update Permissions
    form(method = 'post', action = '/upload')
      button#upload(type = 'submit', name = 'upload') Upload File