html
  body
    h1=title
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
    
    p
      | Welcome to your homepage!
      br
      form#search(method='get', action='/search')
        label(for='search') Enter your search query:
        input#search(name='query')
        button#search Search
        br
    p
      | What would you like to do today?
      br
      form(method='get', action='/viewfiles')
        button#update(type='submit', name='viewfiles') View My Files
      br
      form(method='get', action='/upload')
        button#upload(type='submit', name='upload') Upload File
      br
      form(method='get', action='/logout')
        input(type='submit', value='logout')
