extends layout

block content
  h1= title

  p
    | Login:
    form(method='post', action='/dbtest')
      label Username
      input(name='username', value='')
      br
      label Password
      input(name='password', value='')
      br
      br
      input(type='submit', value='Login')
  br
  p
    | Don't have an account?
    form(method='get', action='/createaccount')
      input(type = 'submit', value = 'Create Account')
