html
  body(onload='errMessage()')
    script.
        function errMessage(){
          //alert("Page loaded");
          error = #{upload_error}
          if(error){
            if(error === -1){
              alert("File Already Exists!");
            } 
            else {
              alert("File Upoaded Successfully");
            }
          }
        }
    h1=title
    p Welcome to  upload screen
    br
    form#fileUpload(method='post', action='/uploadfile', enctype='multipart/form-data')
      label(for='payload') Select a file to upload:
      input#payload(type='file', name='dataitem')
      br
      label(for='docType') File scope:
      br
      input#Element1(type='radio', name='scope', value='Private', checked='checked')
      | Private
      br
      input#Element2(type='radio', name='scope', value='Public')
      | Public
      br
      button#upload Upload
